<!DOCTYPE html>
<html>
    {% extends 'base.html' %}
    
<head>
    {% block title %}Visualizador VCF{% endblock %}
    <style>
    </style>
</head>

<!-- <body> -->
{% block content %}
    <!-- {% if request.user.is_staff %}
        <a href="{% url 'admin:index' %}">Painel Admin</a>
    {% endif %}

    <span> 
        <a href="{% url 'vcf_viewer:home' %}">Home</a>
    </span> -->

    <h1>Amostras VCF</h1>

    <form id="filtro-form" method="get">
        <button type="submit" style="margin-bottom: 15px;">Filtrar</button>
        <tr> 
            <td style="font-weight: bold;">
                <!-- colocar a contagem com . (exemplo 212.104 ao inves de 212104) -->
                {{ vcf_data.paginator.count }} resultados encontrados
            </td> 
        </tr>
        
        <div class="table-wrapper">
            <table border="1">
                <thead>
                    <tr>
                        <th>VARIANTE</th>
                        <th>AMOSTRA</th>
                        <th>GT</th>
                        <th>AF</th>
                        <th>DP</th>
                    </tr>
                    <!-- {{ filter.form.id_variante }}  -->
                    <tr class="filter-input">
                            <th>
                                <div class="filter-wrapper">
                                    {{ filter.form.id_variante }} 

                                    {{ filter.form.id_variante__exact }} 
                                    <label for="id_id_variante__exact" class="icon-btn btn-exact" title="Busca Exata">
                                        📄
                                    </label>
                                    
                                    {{ filter.form.id_variante__notnull }} 
                                    <label for="id_id_variante__notnull" class="icon-btn btn-null" title="Ocultar Vazios">
                                        🚫
                                    </label>
                                </div>
                            </th>
                            <th>
                                <div class="filter-wrapper">
                                    {{ filter.form.amostra }} 
                                    
                                    {{ filter.form.amostra__exact }} 
                                    <label for="id_amostra__exact" class="icon-btn btn-exact" title="Busca Exata">
                                        📄
                                    </label>

                                    {{ filter.form.amostra__notnull }} 
                                    <label for="id_amostra__notnull" class="icon-btn" title="Ocultar Vazios">
                                        🚫
                                    </label>
                                </div>
                            </th>
                            <th>
                                <div class="filter-wrapper">
                                    {{ filter.form.gt }} 
                                    
                                    {{ filter.form.gt__exact }} 
                                    <label for="id_gt__exact" class="icon-btn btn-exact" title="Busca Exata">
                                        📄
                                    </label>

                                    {{ filter.form.gt__notnull }} 
                                    <label for="id_gt__notnull" class="icon-btn" title="Ocultar Vazios">
                                        🚫
                                    </label>
                                </div>
                            </th>
                            <th>
                                <div class="filter-wrapper">
                                    {{ filter.form.af }} 

                                    {{ filter.form.af__exact }} 
                                    <label for="id_af__exact" class="icon-btn btn-exact" title="Busca Exata">
                                        📄
                                    </label>

                                    {{ filter.form.af__notnull }} 
                                    <label for="id_af__notnull" class="icon-btn" title="Ocultar Vazios">
                                        🚫
                                    </label>
                                </div>
                            </th>
                            <th>
                                <div class="filter-wrapper">
                                    {{ filter.form.dp }} 

                                    {{ filter.form.dp__exact }} 
                                    <label for="id_dp__exact" class="icon-btn btn-exact" title="Busca Exata">
                                        📄
                                    </label>

                                    {{ filter.form.dp__notnull }} 
                                    <label for="id_dp__notnull" class="icon-btn" title="Ocultar Vazios">
                                        🚫
                                    </label>
                                </div>
                            </th>
                        </tr>
                </thead>
                
                <tbody>
                    
                    {% for amostra in vcf_data %}
                    <tr>
                        <!-- <td>{{ amostra.id_variante.id_variante }}</td> -->
                        <td>
                            <a href="{% url 'vcf_viewer:variante_detalhes' amostra.id_variante.id_variante %}">
                                {{ amostra.id_variante.id_variante }}
                            </a>
                        </td>
                        <td>{{ amostra.amostra }}</td>
                        <td>{{ amostra.gt }}</td>
                        <td>{{ amostra.af }}</td>
                        <td>{{ amostra.dp }}</td>
                    </tr>
                    {% empty %}
                    <tr><td colspan="4" style="text-align: center;">Nenhuma amostra encontrada.</td></tr>
                    
                    {% endfor %}
                </tbody>
            </table>
        </div> 

        <div style="margin-top: 15px; padding: 10px; background-color: #f8f9fa; border: 1px solid #ddd; display: inline-block;">
            <span class="step-links">
                {% if vcf_data.has_previous %}
                    <a href="?{{query_params}}&page=1">&laquo; Primeira</a>
                    <a href="?{{query_params}}&page={{ vcf_data.previous_page_number }}">Anterior</a>
                {% endif %}

                <span class="current" style="margin: 0 10px; font-weight: bold;">
                    Página {{ vcf_data.number }} de {{ vcf_data.paginator.num_pages }}
                </span>

                {% if vcf_data.has_next %}
                    <a href="?{{query_params}}&page={{ vcf_data.next_page_number }}">Próxima</a>
                    <a href="?{{query_params}}&page={{ vcf_data.paginator.num_pages }}">Última &raquo;</a>
                {% endif %}
            </span>
        </div>
    </form>
{% endblock %}
<!-- </body> -->
</html>     