<!DOCTYPE html>
<html>
<head>
    <title>Visualizador VCF</title>
</head>

{% if request.user.is_staff %}
    <a href="{% url 'admin:index' %}">Painel Admin</a>
{% endif %}

<body>
    <h1>Variantes VCF Lidas do Banco</h1>

    <!-- O formulário é gerado automaticamente pelo filter.form -->
    <!-- <form id="filtro-form" method="get">
        {{ filter.form.as_p }} 
        <button type="submit">Filtrar</button>
    </form> -->
    <!-- Adicionamos um estilo CSS embutido com Flexbox (display: flex) para alinhar lado a lado -->
    <form id="filtro-form" method="get" 
        hx-get="{% url 'vcf_viewer:index' %}" 
        hx-target="#tabela-resultados" 
        hx-select="#tabela-resultados"
        hx-trigger="input changed delay:500ms"
        style="display: flex; flex-wrap: wrap; gap: 15px; align-items: flex-end; margin-bottom: 20px;">
        
        <!-- Iteramos sobre cada campo do formulário -->
        {% for field in filter.form %}
            <div class="fieldWrapper" style="display: flex; flex-direction: column;">
                <!-- Exibe os erros de validação do campo, se houver -->
                {{ field.errors }}
                
                <!-- Exibe o texto (Ex: 'Cromossomo:') -->
                {{ field.label_tag }} 
                
                <!-- Exibe a caixa de texto ou select correspondente -->
                {{ field }} 
            </div>
        {% endfor %}
        
        <!-- Opcional: Um botão para limpar os filtros pode ser útil aqui -->
        <div>
            <a href="{% url 'vcf_viewer:index' %}" style="text-decoration: none;">Limpar Filtros</a>
        </div>
    </form>

    <table border="1">
        <tr>
            <th>Cromossomo</th>
            <th>Posição</th>
            <th>REF</th>
            <th>ALT</th>
            <th>QUAL</th>
            <th>FILTER</th>
            <th>INFO_DP</th>
        </tr>
        {% for variant in filter.qs %}
        <tr>
            <!-- Substitua os atributos (.chrom, .pos, .id) pelos nomes exatos que o inspectdb gerou no seu models.py -->
            <td>{{ variant.chrom }}</td>
            <td>{{ variant.pos }}</td>
            <td>{{ variant.ref }}</td>
            <td>{{ variant.alt }}</td>
            <td>{{ variant.qual }}</td>
            <td>{{ variant.filter }}</td>
            <td>{{ variant.info_dp }}</td>
        </tr>
        {% empty %}
        <tr><td colspan="3">Nenhuma variante VCF encontrada.</td></tr>
        {% endfor %}
    </table>
</body>
</html>