<!DOCTYPE html>
<html>
<head>
    <title>Visualizador VCF</title>
</head>

{% if request.user.is_staff %}
    <a href="{% url 'admin:index' %}">Painel Admin</a>
{% endif %}

<body>
    <h1>Variantes VCF Lidas do Banco</h1>
    <table border="1">
        <tr>
            <th>Cromossomo</th>
            <th>Posição</th>
            <th>REF</th>
            <th>ALT</th>
            <th>QUAL</th>
            <th>FILTER</th>
            <th>INFO_DP</th>
        </tr>
        {% for variant in vcf_data %}
        <tr>
            <!-- Substitua os atributos (.chrom, .pos, .id) pelos nomes exatos que o inspectdb gerou no seu models.py -->
            <td>{{ variant.chrom }}</td>
            <td>{{ variant.pos }}</td>
            <td>{{ variant.ref }}</td>
            <td>{{ variant.alt }}</td>
            <td>{{ variant.qual }}</td>
            <td>{{ variant.filter }}</td>
            <td>{{ variant.info_dp }}</td>
        </tr>
        {% empty %}
        <tr><td colspan="3">Nenhuma variante VCF encontrada.</td></tr>
        {% endfor %}
    </table>
</body>
</html>