<!DOCTYPE html>
{% extends 'base.html' %}
{% load humanize %}
<html>
<head>
    {% block title %}Visualizador VCF{% endblock %}
    {% block extra_css %}
    <style>
        .btn-primary:hover {
            transform: translateY(0px);
        }

    </style>
    {% endblock %}
</head>

<!-- <body> -->
{% block content %}    
    <h1>Variantes</h1>

    <form id="filtro-form" method="get">
        <div class="controle-superior">
            <button type="submit" class="btn-custom btn-primary">Filtrar</button>
            
            <span style="font-weight: bold;">
                {{ vcf_data.paginator.count|intcomma }} resultados encontrados
            </span>
        </div>
        
        <div class="table-wrapper">
            <table border="1">
                <thead>
                    <tr>
                        <th>VARIANTE</th>
                        <th>CHROM</th>
                        <th>POS</th>
                        <th>REF</th>
                        <th>ALT</th>
                        <th>QUAL</th>
                        <th>FILTER</th>
                        <th>INFO_DP</th>
                        <th>INFO_GT</th>
                    </tr>

                    <tr class="filter-input">
                         <th>
                            <div class="filter-wrapper">
                                {{ filter.form.id_variante }} 

                                {{ filter.form.id_variante__exact }} 
                                <label for="id_id_variante__exact" class="icon-btn btn-exact" title="Busca Exata">
                                    📄
                                </label>
                                
                                {{ filter.form.id_variante__notnull }} 
                                <label for="id_id_variante__notnull" class="icon-btn btn-null" title="Ocultar Vazios">
                                    🚫
                                </label>
                            </div>
                        </th>
                        <th>
                            <div class="filter-wrapper">
                                {{ filter.form.chrom }} 

                                {{ filter.form.chrom__exact }} 
                                <label for="id_chrom__exact" class="icon-btn btn-exact" title="Busca Exata">
                                    📄
                                </label>
                                
                                {{ filter.form.chrom__notnull }} 
                                <label for="id_chrom__notnull" class="icon-btn btn-null" title="Ocultar Vazios">
                                    🚫
                                </label>
                            </div>
                        </th>
                        <th>
                            <div class="filter-wrapper">
                                {{ filter.form.pos }} 
                                
                                {{ filter.form.pos__exact }} 
                                <label for="id_pos__exact" class="icon-btn btn-exact" title="Busca Exata">
                                    📄
                                </label>

                                {{ filter.form.pos__notnull }} 
                                <label for="id_pos__notnull" class="icon-btn" title="Ocultar Vazios">
                                    🚫
                                </label>
                            </div>
                        </th>
                        <th>
                            <div class="filter-wrapper">
                                {{ filter.form.ref }} 
                                
                                {{ filter.form.ref__exact }} 
                                <label for="id_ref__exact" class="icon-btn btn-exact" title="Busca Exata">
                                    📄
                                </label>

                                {{ filter.form.ref__notnull }} 
                                <label for="id_ref__notnull" class="icon-btn" title="Ocultar Vazios">
                                    🚫
                                </label>
                            </div>
                        </th>
                        <th>
                            <div class="filter-wrapper">
                                {{ filter.form.alt }} 

                                {{ filter.form.alt__exact }} 
                                <label for="id_alt__exact" class="icon-btn btn-exact" title="Busca Exata">
                                    📄
                                </label>

                                {{ filter.form.alt__notnull }} 
                                <label for="id_alt__notnull" class="icon-btn" title="Ocultar Vazios">
                                    🚫
                                </label>
                            </div>
                        </th>
                        <th>
                            <div class="filter-wrapper">
                                {{ filter.form.qual }} 

                                {{ filter.form.qual__exact }} 
                                <label for="id_qual__exact" class="icon-btn btn-exact" title="Busca Exata">
                                    📄
                                </label>

                                {{ filter.form.qual__notnull }} 
                                <label for="id_qual__notnull" class="icon-btn" title="Ocultar Vazios">
                                    🚫
                                </label>
                            </div>
                        </th>
                        <th>
                            <div class="filter-wrapper">
                                {{ filter.form.filter }} 

                                {{ filter.form.filter__exact }} 
                                <label for="id_filter__exact" class="icon-btn btn-exact" title="Busca Exata">
                                    📄
                                </label>

                                {{ filter.form.filter__notnull }} 
                                <label for="id_filter__notnull" class="icon-btn" title="Ocultar Vazios">
                                    🚫
                                </label>
                            </div>
                        </th>
                        <th>
                            <div class="filter-wrapper">
                                {{ filter.form.info_dp }} 

                                {{ filter.form.info_dp__exact }} 
                                <label for="id_info_dp__exact" class="icon-btn btn-exact" title="Busca Exata">
                                    📄
                                </label>

                                {{ filter.form.info_dp__notnull }} 
                                <label for="id_info_dp__notnull" class="icon-btn" title="Ocultar Vazios">
                                    🚫
                                </label>
                            </div>
                        </th>
                        <th>
                            <div class="filter-wrapper">
                                {{ filter.form.info_gt }} 

                                {{ filter.form.info_gt__exact }} 
                                <label for="id_info_gt__exact" class="icon-btn btn-exact" title="Busca Exata">
                                    📄
                                </label>

                                {{ filter.form.info_gt__notnull }} 
                                <label for="id_info_gt__notnull" class="icon-btn" title="Ocultar Vazios">
                                    🚫
                                </label>
                            </div>
                        </th>
                    </tr>
                </thead>
                
                <tbody>
                    
                    {% for variant in vcf_data %}
                    <tr>
                        <td>
                            <a href="{% url 'vcf_viewer:variante_detalhes' variant.id_variante %}">
                                {{ variant.id_variante }}
                            </a>
                        </td>
                        <!-- <td>{{ variant.id_variante }}</td> -->
                        <td>{{ variant.chrom }}</td>
                        <td>{{ variant.pos }}</td>
                        <td>{{ variant.ref }}</td>
                        <td>{{ variant.alt }}</td>
                        <td>{{ variant.qual|floatformat:2 }}</td>
                        <td>{{ variant.filter }}</td>
                        <td>{{ variant.info_dp }}</td>
                        <td>{{ variant.info_gt }}</td>
                    </tr>
                    
                    {% empty %}
                    <tr><td colspan="7" style="text-align: center;">Nenhuma variante VCF encontrada.</td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div style="margin-top: 15px; padding: 10px; background-color: #f8f9fa; border: 1px solid #ddd; display: inline-block;">
            <span class="step-links">
                {% if vcf_data.has_previous %}
                    <a href="?{{ query_params }}&page=1">&laquo; Primeira</a>
                    <a href="?{{ query_params }}&page={{ vcf_data.previous_page_number }}">Anterior</a>
                {% endif %}

                <span class="current" style="margin: 0 10px; font-weight: bold;">
                    Página {{ vcf_data.number }} de {{ vcf_data.paginator.num_pages }}
                </span>

                {% if vcf_data.has_next %}
                    <a href="?{{ query_params }}&page={{ vcf_data.next_page_number }}">Próxima</a>
                    <a href="?{{ query_params }}&page={{ vcf_data.paginator.num_pages }}">Última &raquo;</a>
                {% endif %}
            </span>
        </div>
    </form>
{% endblock %}
<!-- </body> -->
</html>